//Primary Colors
$black: #0C1E1A;
$forest-green: #1E6655;
$pistachio: #EFFAF7;

//Secondary Colors
$sea-green: #B7CEC9;
$sage: #E4EFEC;
$white: #FFFFFF;

//media breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


