@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.gallery__item {
    list-style: none;
    border: 1px solid $sea-green;
    background: $sage;
    border-radius: 8px;
    margin: 0.5rem 0;
    width: 100%;

    @include tablet {
        width: 46.5%;
        margin: 0.75rem;
    }

    @include desktop {
        width: 31%;
    }

    &--desktop-filter {
        @include desktop {
            width: 47%;
        }
    }

    &--details {

        @include tablet {
            width: 100%;
            margin: 0;
        }

        @include desktop {
            width: 100%;
        }
    }
}

.gallery__link {
    padding: 0;
    margin: 0;

}

.gallery__photo {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.gallery__photographer {
    background: $sage;
    position: absolute;
    padding: 0.5rem;
    border-radius: 8px 0 0 0 ;
    bottom: 10%;
    font-size: 0.75rem;
    font-family: "Outfit";
    line-height: 0.9375rem;
    font-weight: 400;
    @include tablet {
      font-size: 0.875rem;
      line-height: 1.09375rem;
    }
}

.gallery__container {
    display: flex;
    position: relative;
    justify-content: end;

}

.gallery__tag-list {
    list-style: none;
    display: flex;
    padding: 0.5rem;
    @include tablet {
        padding: 1rem 0.75rem 0.75rem 0.75rem;
    }
}

.gallery__tag-item {
    margin: 0 0.25rem;
    font-family: "Outfit";
    padding: 0.375rem 0.5rem;
    color: $black;
    background: $white;
    border: 1px solid $sea-green;
    border-radius: 8px;
    cursor: default;

    &--clicked{
        background: $forest-green;
        color: $white;          
    }

    &:hover {
        background: $sea-green;
    }

    @include tablet{
        padding: 0.5rem 0.75rem;
        border-radius: 12px;
    }

    &--details {
        @include tablet {
            margin: 0 0.75rem;
            padding: 0.5rem 1.25rem;
        }
    }
}
.gallery__info-container {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
        padding: 0.75rem 1.5rem 1.5rem 1.5rem;

    }
}
.gallery__info {
    @include tablet {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
}
.gallery__likes {
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem 0;
}

.gallery__like-count {
    margin: 0 0.25rem;
}

.gallery__photographer-info {
    // @include tablet {
    //     margin: 5%;
    // }
}