@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;

.filters {
    background: $sage;
    padding: 1rem 0;
    max-width: $desktop-breakpoint;
    @include tablet {
        padding: 0.5rem;
    }

    @include desktop {
        margin: auto;
    }

    &__title {
        padding: 0 1rem;
        font-weight: 500;
    }

    &__list {
        margin: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    &__tag {
        margin: 0.25rem;
        font-family: "Outfit";
        padding: 0.375rem 0.5rem;
        color: $forest-green;
        background: $white;
        border: 1px solid $forest-green;
        border-radius: 8px;
        cursor: pointer;

        &--clicked{
            background: $forest-green;
            color: $white;          
        }

        &:hover {
            background: $forest-green;
            color: $white;
        }

        @include tablet{
            padding: 0.5rem 0.75rem;
            border-radius: 12px;
        }
    }
}